$font : 'Be Vietnam',
sans-serif;



// primary
$b-red :hsl(12, 88%, 59%);
$d-blue : hsl(228, 39%, 23%);
// neutral
$p-red : hsl(13, 100%, 96%);
$gray-blue: hsl(227, 12%, 61%);
$v-d-blue: hsl(233, 12%, 13%);